{% extends "lokaverkefni/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<main class="container-fluid p-0 pl-sm-3 pr-sm-3">
    <div class="p-3">
        <p>
            Þessi veflausn var gerð fyrir áfangana VEF3A3U, VEF3B3U & GSF2B3U í Tækniskólanum, haustönn 2017. Þetta er lokaverkefnið mitt.
        </p>
        <p><a href="https://github.com/GudniNatan/Super_Duper_Ultra_Lokaverkefni">Github repo</a></p>
    </div>
    <div class="p-3">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/awLV5_vlI5w?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
</main>
{% endblock %}