{% extends "lokaverkefni/base.html" %}
{% load staticfiles%}

{% block title %}Index{% endblock %}

{% block content %}
	<main id="graph" class="container-fluid">
        <div class="svgContainer pb-1">
            <svg width=500 class="border border-secondary rounded"></svg>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <button id="submitCourses" class="btn btn-primary">Uppfæra kort</button>
        </div>
	</main>
    <form method="post" action="" id="courseDataForm">{% csrf_token %}</form>
{% endblock %}
{% block bodyFoot %}
    <script>let jsonData = JSON.parse('{{data|safe}}'); console.log(jsonData);</script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{% static 'lokaverkefni/dagre-d3v4.min.js' %}"></script>
    <script src="{% static 'lokaverkefni/renderGraph.js' %}"></script>
{% endblock %}