{% extends "lokaverkefni/base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
{% if userName %}
    <main class="container-fluid p-0 pl-md-3 pr-md-3">
        {% if post %}
        <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Þú ert skráð/ur inn. Smelltu á: <a href="/logout"><span class="oi oi-account-logout" title="account logout" aria-hidden="true"></span></a> til að skrá þig út
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-6 col-lg-4 p-sm-2 align-items-center d-flex justify-content-center correct-col">
                <div class="p-4 border rounded bg-light text-dark mt-2 mb-2">
                    <h2 class="font-weight-bold">Þín námsáætlun</h2>
                </div>
            </div>
            {% for semester in semesterData %}
            <div class="border border-light rounded col-sm-6 col-lg-4 p-sm-2 correct-col">
                <table class="table">
                    <thead class="thead-light rounded">
                        <tr>
                            <th scope="col">{{semester.0}}</th>
                            <th>
                                <button type="button" class="close" data-toggle="modal" data-target="#modal{{semester.0}}" aria-label="Delete semester">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in semester.1 %}
                        <tr><td>{{c}}</td></tr>
                        {% empty %}
                        <tr><td><i class="text-muted">Engir áfangar skráðir þessa önn</i></td></tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" id="modal{{semester.0}}" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Ertu alveg viss?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Ef þú eyðir áföngunum úr þessari önn fara líka allir áfangar úr öllum önnum á <u>eftir</u> þessari.
                                Það verður ekki aftur snúið.
                            </p>
                            <a type="button" class="btn btn-danger" href="/delete/{{semester.0}}/">Eyða {{semester.0}}</a>
                            <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close">Hætta við</button>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-sm-6 col-lg-8 p-sm-2 align-items-center d-flex justify-content-center correct-col">
                <div class="p-4 border rounded bg-light text-dark mt-2 mb-2">
                    <h2 class="font-weight-bold">Skráðu áfanga <a href="/nextSemester/">í flýtivali</a> og sjáðu þá hér.</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

{% else %}
    <main class="container-fluid p-0 pl-sm-3 pr-sm-3">
        <div class="d-flex flex-wrap">
        <form method="post" action="#loginForm" id="loginForm" class="col-md border border-secondary rounded m-2 mb-0">
            {% csrf_token %}
            <legend>Innskrá</legend>
            {% if loginError %}
            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <ul class="m-0">
                {% for err in loginError%}
                    <li>{{err}}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
                <div class="form-group">
                    <p for="login_username">Kennitala:</p>
                    <input class="form-control input-md" id="login_username" name="login_username" placeholder="Kennitala*" required="" pattern="^[0-9]{10}$" title="Kennitala, án bandstriks" type="text">
                </div>
                <div class="form-group">
                    <p for="login_password">Lykilorð:</p>
                    <input class="form-control input-md" id="login_password" name="login_password" placeholder="Lykilorð*" required="" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{4,255}$" title="Lykilorð" type="password">
                </div>
            <button name="sendlogin" type="submit" class="btn btn-primary">Skrá inn</button>
            <p class="text-muted"><i>*Fylla þarf út þessa reiti</i></p>
            <p><a href="#">Ég gleymdi lykilorðinu mínu.</a></p>
        </form>
        <form method="post" action="#registerForm" id="registerForm" class="col-md border border-secondary rounded m-2 mb-0">
            {% csrf_token %}
            <legend>Nýskrá</legend>
            {% if registerError %}
            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <ul class="m-0">
                {% for err in registerError %}
                    <li>{{err}}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
                <div class="form-group">
                    <p for="register_username">Kennitala:</p>
                    <input class="form-control input-md" id="register_username" name="register_username" placeholder="Kennitala*" required="" pattern="^[0-9]{10}$" title="Kennitala, án bandstriks" type="text">
                </div>
                <div class="form-group">
                    <p for="register_password">Lykilorð:</p>
                    <input class="form-control input-md" id="register_password" name="register_password" placeholder="Lykilorð*" required="" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{4,255}$" title="Lykilorð" type="password">
                </div>
                <div class="form-group">
                    <p for="register_password_repeat">Lykilorð (endurtekið):</p>
                    <input class="form-control input-md" id="register_password_repeat" name="register_password_repeat" placeholder="Lykilorð (endurtekið)*" required="" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{4,255}$" title="Lykilorð" type="password">
                </div>
                <div class="form-group">
                    <p for="track_id">Braut:</p>
                    <select class="form-control" name="track_id">
                        {% for option in tracks %}
                        <option value="{{option.0}}">{{option.1}}</option>
                        {% endfor %}
                    </select>
                </div>
            <button name="sendregister" type="submit" class="btn btn-primary">Nýskrá</button>
            <p class="text-muted"><i>*Fylla þarf út þessa reiti</i></p>
        </form>
        </div>
    </main>
{% endif %}
{% endblock %}
